body {
	width: 600px;
	margin-left: 600px;
	background-color: #EFEDE3;
}

header *{
	display: inline;
	margin-bottom: -30px;
}

#functions {
	border: 2px solid black;
}

#functions h2 {
	margin-left: 230px;
}

main {
	margin-top: 50px;
}

#arrow * {
	display: inline;
	margin-left: 55px;
}

.functionList {
	list-style: none;
}

.functionList * {
	font-size: 20px;
	
}

.functionList li {
	margin-left: 10px;
	display: inline;
}

.functionList button {
	width: 127px;
	height: 90px;
}

.hidden {
	display: none;
}

p {
	font-size: 23px;
}